<% if resource.errors.any? %>
  <div id="error_explanation">
    <%= pluralize(resource.errors.count, 'error') %>
    prohibited this resource from being saved:
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(resource, url: resource_form_path) do |f| %>
  <ul>
    <% resource_human_attributes.each do |field| %>
      <li>
        <%= f.label(field) %>
        <%= 
          if resource_class.columns_hash["#{field}"].type == :text
            f.text_area(field) 
          elsif field.match(/_id$/)
            parent_class = field.sub(/_id$/, '').classify
            f.select(field, eval(parent_class).all.map { |p| [p.name, p.id] })
          else
            f.text_field(field) 
          end
        %>
      </li>
    <% end %>
  </ul>
  <%= f.submit %>
<% end %>
